<%- include('partials/header') %>

  <head>
    <link rel="stylesheet" href="/blog.css">
  </head>

  <body>

    <div class="container">
      <div class="row">
        <% for(let i in interviews){ %>
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card bg-light">
              <div>
                <a href="#" class="btn btn-light btn-sm">
                  <%= interviews[i].type %>
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">
                  <%= interviews[i].title %>
                </h4>
                <p class="card-text text-muted">
                  <%= interviews[i].content %>
                </p>
                <a href="/singlePost/<%= interviews[i]._id %>"><button class="btn btn-md btn-outline-info">Read More</button></a>
              </div>
              <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                <div class="views"><%= interviews[i].date %> </div>
                <div class="stats">
                  <i class="fa-solid fa-heart"></i> <%= interviews[i].upvoteLists.length %>
                  <!-- <i class="fa-solid fa-heart-crack"></i> 12 -->
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>

    </div>
  </body>

  </html>