<%- include('partials/header') %>

    <head>
        <link href="/singleBlog.css" rel="stylesheet" />
        <script src="/js/singleBlog.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg blog">
                    <div class="blog-title">
                        <h2><%= blog.title %></h2>
                        <h3><span id="upvoteValue"><i class="fa-solid fa-star"></i>
                            <%= blog.upvoteLists.length %>
                        </span></h3>
                    </div>
                    <p id="blogId" style="visibility: hidden; display: none;">
                        <%= blog._id %>
                    </p>
                    <button class="btn btn-sm btn-outline-info" onclick="upvoted()"><i
                            class="fa-solid fa-arrow-up"></i></button>
                    <!-- <button onclick="downvoted()">Downvote</button> -->
                    <p class="blog-content">
                        <%= blog.content %>
                    </p>
                </div>
            </div>
        </div>
    </body>

    </html>